# Byte-compiled / optimized / DLL files (any format)
*__pycache__/

# Distribution / packaging
*.egg-info/

# Environments
.venv/

# Custom folders
*/benchmarking_tools/
*/investigations/
*/terminal_outputs/

# files
*.pik
*.pkl
*.mp4
*.pdf








