# Byte-compiled / optimized / DLL files (any format)
**__pycache__/

# ruff caches
**.ruff_cache/

# Distribution / packaging
**.egg-info/

# Environments
**.venv/

# Custom folders
**/benchmarking_tools/
**/investigations/
**/terminal_outputs/

# pickle files only ingored when being results files
**/Results/**/*.pik
**/Results/**/*.pkl
**Results.pik

# files
**.mp4
**.pdf

# github
actions-runner/
.github/workflows/